<br>

<h2>High Scores</h2>
<br>
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Team</th>
      <th>Level</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>

  {{#each userData}}
    <tr>
      <td>{{this.username}}</td>
      <td>{{this.team}}</td>
      <td>{{this.level}}</td>
      <td>{{this.points}}</td>
    </tr>
    {{/each}}

  </tbody>
</table>