<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="container">
    <button id="match"><a href="/match">Find a match</a></button>
    <button id="pendingRequest"><a href="/pendingRequest">Pending Request</a></button>
    <button id="open"><a href="/open">Open</a></button>
    <button id="profile"><a href="/profile">Profile</a></button>
</div>

