<p class="loggedin">
Welcome {{user.username}}
</p>

<div class="d-flex justify-content-center flex-wrap">
    
    <div>
        <a href="match"><button type="button" id="buttontohover" class="btn btn-hp">Schedule match</button></a>
    </div>
    <div>
        <a href="pending-invite"><button type="button" id="buttontohover" class="btn btn-hp">Match request</button></a>
    </div>
    <div>
        <a href="open-games"><button type="button" id="buttontohover" class="btn btn-hp">Ongoing games</button></a>
    </div>
    <div>
        <a href="profile"><button type="button" id="buttontohover" class="btn btn-hp">Profile</button></a>
    </div>
    
</div>

<div class="gamestatus d-flex flex-column justify-content-center">
    <p name="user-score" class="pending-req">Pending requests:{{pendingNumber}}</p>
    <p name="user-score" class="nbof-open-games">Number of open games: {{openNumber}}</p>
    <br>
</div>

<div class="d-flex justify-content-center">
    <img src="/images/table.png" class="imghomepage">
    </div>
</div>
