<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="container">
    <button id="match"><a href="/find-a-match">Find a match</a></button>
    <button id="pendingRequest"><a href="/pending-request">Pending Request</a></button>
    <button id="open"><a href="/open-games">Open</a></button>
    <button id="profile"><a href="/profile">Profile</a></button>
</div>

