<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="container">
    <button><a href="/match">Find a match</a></button>
    <button><a href="/pending-invite">Pending request</a></button>
    <button><a href="/open-games">Open games</a></button>
    <button><a href="/profile">Profile</a></button>
</div>

{{!-- <div>
    <br><br><br>    
   <label name="pendingrequest">Here the number of pending matches should show: </label> 
    <p name="user-score">{{}}</p>
</div> --}}

