<h2>Profile Overview</h2>

<p>Find out who's playing in your team or a team closeby!</p>

<form>
  <select name="overviewFilter">
    <option></option>
    <option>wework, Potsdamer Platz</option>
    <option>wework, at Atrium Tower</option>
  </select>
  <button>apply filter</button>
</form>

<br><br>

{{#each userData}}
<img src="{{this.imgPath}}" alt="profilePicture">
<p>Name: {{this.username}}</p>
<p>Team: {{this.team}}</p>
<br><br>
{{/each}}
