<br><br>
<h2>Profile Overview</h2>

<p id="text-overview">Find out who's playing in your<br>team or a team closeby!</p>

<form id="form-overview">
  <select class="overviewFilter" name="overviewFilter">
    <option></option>
    <option class="option1">wework, Potsdamer Platz</option>
    <option class="option2">wework, at Atrium Tower</option>
  </select>
  <button type="submit" class="btn-overview">apply filter</button>
</form>

<br><br>

{{#each userData}}
<div id="overview-container">

  <img class="img-overview" src={{this.imgPath}} alt="user-image">

  <div class="right">
    <p class="card-text"><strong>Username: </strong>{{this.username}}</p>
    <p class="card-text level"><strong>Level: </strong>{{this.level}}</p>
   
  </div>
</div>
{{/each}}