<div class="profile-un">
    <p name="username" id="profile-un"> {{user.username}} </p>
  </div>

<div id="picture-holder">
  <img class="profile-picture" src={{user.imgPath}} alt="user-image">
</div><br>

<div class="profile-information">
<div class="d-flex justify-content-center flex-wrap">
  <div class="justtotry">
<form action="/profile-edit" method="POST" enctype="multipart/form-data">
  <input type="file" name="photo" value={{user.imgPath}}>
  <br>

  <label>Username</label>
  <input type="text" name="username" value={{user.username}}>
  <br>

  <label>Team </label>
  <select name="team" class="team-dropdown">
  <option>wework, Potsdamer Platz</option>
  <option>wework, at Atrium Tower</option>
  </select>
  <br>

  <label>Level</label>
  <select name="level">
  <option>Beginner</option>
  <option>Intermediate</option>
  <option>Professional</option>
  </select>
  <br>
  <br>
  <br>
  <br>  
</form>
</div>
</div>
</div>


<div class="btn btn-hp" id="profile-edit-save-btn">
<input type="submit" value="Save changes" class="btn">
</div>


<div class="btn btn-hp" id="profile-delete-btn">
<form action="/profile-delete" method="POST" enctype="multipart/form-data">
<input type="submit" value="Delete profile">
</div>
</form>