<h2>Profile Overview</h2>

<p>Find out who's playing in your team or a team closeby!</p>

<form>
  <select class="overviewFilter" name="overviewFilter">
    <option></option>
    <option class="option1">wework, Potsdamer Platz</option>
    <option class="option2">wework, at Atrium Tower</option>
  </select>
  <button type="submit" class="btn-overview">apply filter</button>
</form>

<br><br>

<div class="cart">
{{#each userData}}
<img class="overview-img" src="{{this.imgPath}}" alt="profilePicture">
<p class="overview-name">Name: {{this.username}}</p>
<p class="overview-team">Team: {{this.team}}</p>
<br><br>
{{/each}}
</div>
