<br>
<h1>Profile page</h1>

<div id="picture-holder">
  <img src={{user.imgPath}} id="default-profile-picture" alt="user-image">
</div><br>

<div>
 <label>Username:</label><p name="username"> {{user.username}} </p>
  <br>

   <label>Team:</label><p name="team"> {{user.team}} </p>
  <br>

   <label>Level:</label><p name="level"> {{user.level}} </p>
   <br>


</div>

{{!-- <button type="submit">Edit profile</button> --}}

<form action="/profile-edit">
  <input type="submit" value="Edit profile">
</form>