<h2 class="target">Edit your profile</h2>

<div class="profile-un">
    <p name="username" id="profile-un"> {{user.username}} </p>
</div>

<div id="picture-holder">
  <img class="profile-picture" src={{user.imgPath}} alt="user-image">
</div>

<br>

<div class="d-flex justify-content-center flex-wrap">
<form class="edit-form" action="/profile-edit" method="POST" enctype="multipart/form-data">
  <div class="d-flex justify-content-center flex-wrap">
  <button class="btn btn-upload">
  <input type="file" name="photo" value={{user.imgPath}}>
  </button>
  </div>
  <div class="profile-edit-info">
  <p class="profile-head"><strong>Username</strong></p>
  <input type="text" class="dropdown" name="username" value={{user.username}}>
  <br>
    <div>
      <p class="profile-head"><strong>Team</strong></p>
      <div >
      <select class="dropdown"t name="team">
      <option value="wework, Potsdamer Platz">wework, Potsdamer Platz</option>
      <option value="wework, at Atrium Tower">wework, at Atrium Tower</option>
      </select>
      </div>
    </div>
    <div>
      <p class="profile-head"><strong>Level</strong></p>
       <div>
      <select class="dropdown" name="level">
        <option value="Beginner">Beginner</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Professional">Professional</option>
      </select>
      </div>
    </div>
  </div>

<input type="submit" value="Save changes" class="btn profile-edit-save-btn d-flex justify-content-center" id="buttontohover">
</form>
</div>

<form class="d-flex justify-content-center" action="/profile-delete" method="POST">
<input class="btn profile-delete-btn" id="buttontohover" type="submit" value="Delete profile">
</form>