<br>
<h1>Profile page</h1>

<div id="picture-holder"></div><br>

<div>
<p>Username: some code here</p>
<p>Club name: some code here</p>

<p>Level: some code here</p>

</div>

<button type="submit">Edit profile</button>

<form action="/profile-edit">
  <input type="submit" value="Edit profile">
</form>