.table {
  background-color: white;
  border-radius: 6px;
  width: 90%;
  margin: auto;
}

.table th {
  text-align: center;
}

.table td {
  text-align: center;
}

#rules {
  margin-left: 10%;
  margin-right: 10%;
  padding: 5%;
  background-color:white; 
  opacity:0.5;
}

