body {
  background-color: #C6D9C5;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}


#map {
  width: 100%;
  height: 400px;
}

/* This was here as default */
p {
  margin: 0; 
}

/* Setting the button background to white
  button width: 566px, height: 268px;
*/

.btn{
  background-color: white;
  border-radius: 0px;
}

.btn-hp{
  width: 300px;
  height: 58px;
  margin: 0.5em 0.5em;
}

.pending-req{
  width: 300px;
}

.nbof-open-games{
  width: 300px;
}


/* Sets the hoover color */
#buttontohover:hover{
  background-color:#FFF8DB;
}

.profile-un{
  margin-top: 30px;
}

#profile-un{
  font-size: 25px;;
  text-align: center;
  vertical-align: middle;
}

#picture-holder{
  height: 180px;
  width: 180px;
  margin-top: 5%;
  margin-left: auto;
	margin-right: auto;
	display: block;
}

.profile-picture{
  width: auto;
  height: 100%;
  margin-left: auto;
	margin-right: auto;
	display: block;
}
/* Making the photos in profile and profile-edit to 
become the same size */
#default-profile-picture{
  height: 30%;
  width: 20%;
} 

.imghomepage{
  display: flex;
  justify-content: center;
}
  
.profile-edit-btn-placeholder{
  margin-top: 5%;
}

#profile-edit-save-btn{
  margin-top: 5%;
}

#profile-delete-btn{
  margin-top: 5%;
  background-color: rgba(250,128,114,0.5);
  color: black;
  width: 100%;
  margin: 0.5em auto;
  border-radius: 0px;
}

.change-un{
  text-align: center;
  vertical-align: middle;
}

.file-upload{
  text-align: center;
  margin: auto;
}

.dropdown-team{
  border: solid;
  
}