.table {
  background-color: white;
  border-radius: 0px;
  width: 90%;
  margin: auto;
}

.table th {
  text-align: center;
}

/* Comment to push to Heroku */

.table td {
  text-align: center;
}

#rules {
  margin-left: 10%;
  margin-right: 10%;
  padding: 5%;
  background-color: rgba(255,255,255,0.5);
}

#PendingDiv {
  background-color: white;
  padding: 5%;
  border-radius: 0px;
  width: 80%;
  margin: auto;
}

#PendingDiv p {
  text-align: center;
}

#PendingButton1 {
  text-align: center;
  width: 80%;
  margin-top: 10px;
  margin-right: 10%;
  margin-left: 10%;
}

#PendingButton2 {
  text-align: center;
  width: 80%;
  margin-top: 10px;
  margin-right: 10%;
  margin-left: 10%;
}

.overview-container {
  width: 100%;
  height: 120px;
  margin-top: 0.5em;
}

.right {
  width: 60%;
  background-color: rgba(255,255,255,0.5);
  height: 120px;
  vertical-align: middle;
}

.img-overview {
  height: 120px;
  width: 100px;
  margin-right: 10px;
  object-fit: cover;

}
.image-holder {
  width: 100px;
}

.card-text {
  padding: 5px;
  font-size: 1em; 
}

.overviewFilter {
  width: 90%;
  height: 40px;
  margin-bottom: 0.2em;
}

.btn-overview {
  background-color: white;
  border-radius: 0px;
}

#text-overview {
  text-align: center;
}

#form-overview {
  margin: 0.5em auto;
}
