body {
  background-color: #C6D9C5;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #00B7FF;
}

#default-profile-picture{
  height: 8%;
  width: 8%;
} 

#map {
  width: 100%;
  height: 400px;
}

p {
  margin: 0; 
}

.homepage-buttons{
  background-color: white;
  width: 566px;
  height: 268px;
}

.front-page-links{
  margin: 20;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn{
  background-color: white;
  width: 566px;
  height: 268px;
}

.heihei{
 display: block;

}

a:hover{
  background-color: #F5FFF4;
  text-decoration: none;
}





