/* Notes: remove height/width from overall button class */

.index-welcome {
  width: 100%;
  margin:  0.5em auto;
  text-align: center;
}

.indexText {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  margin: 1em auto; 
  padding: 0.5em;
}

.btn-index {
  background-color: white;
  width: 90%;
  height: 70px;
  margin: 0.5em auto; 
}

#map {
  width: 90%;
  height: 400px;
  margin: 0.5em auto;
}

.h2-class {
  font-size: 1.5em;
  text-align: center;
  color: black;
  margin: 0.2em;
} 

.btn-table{
  background-color: white;
  width: 90%;
  margin: 0.2em auto;
}

#buttontohover:hover{
  background-color:#FFF8DB;
  color: black;
  text-decoration: none;
}

.table-link {
  color: black;
  text-decoration: none;
}

.textboxLayer {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  margin: 1em auto; 
  padding: 0.5em;
}

.textboxOpponent {
  width: 90%; 
  margin: 1em auto; 
}

.btn-player{
  background-color: white;
  width: 100%;
  margin: 0.5em auto;
}

.inputPlayer {
  width: 100%; 
  margin: 0.5em auto; 
}

.formPlayer {
  padding: 0; 
}

.line-player {
  background-color: #FFF8DB;
  width: 90%; 
}

.inputConfirm {
  width: 90%;
  height: 30vh;
  margin: 0.5em;
}

.btn-confirm {
  background-color: white;
  width: 90%;
  margin: 0 auto; 
}

.btn-signup {
  background-color: white;
  width: 90%;
  margin: 0 auto;
}

.signupfields {
  text-align: right;
}

.signup-container {
  margin: 1em;
}

.signup-link {
  color: black;
  text-decoration: underline;
}

.account-message {
  margin-top: 1em;
}

.btn-login {
  background-color: white;
  width: 90%;
  margin: 0 auto;
}

.error-message {
  width: 90%;
  background-color: salmon;
  text-align: center;
  color: black;
  font-weight: bolder;
  margin: 0 auto;
  padding: 5px;
}

.opengames {
  width: 90%; 
  margin: 0 auto;
}

.btn-open {
  background-color: white;
  width: 100%;
  margin: 0.5em auto; 
}

.btn-open-delete {
  background-color: rgba(250,128,114,0.5);
  color: black;
  width: 100%;
  margin: 0.5em auto; 
}

.openpoints {
  text-align: left;
}

.pointsPlayer {
  width: 100%;
}

.btn-edit {
  background-color: white;
  width: 90%;
}

.profile {
  padding: 0;
  text-align: center;
}

.profile-info {
  width: 90%;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.5);
  text-align: center;
  font-size: 1em;
}

.line-height {
  margin-bottom: 0.3em;
}

.loggedin {
  margin-top: 1.5em;
  text-align: center;
}

.pendingNumber {
  position: absolute;
  left: 75%;
  height: 30px;
  width: 30px;
  background-color: rgba(250,128,114,0.5);
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  margin-left: 1em;
  border-radius: 5px;
}

.btn-pending {
  background-color: white;
  width: 90%;
  margin-bottom: 0.5em;
}
 
.btn-pending-delete {
  background-color: rgba(250,128,114,0.5);
  color: black;
  width: 90%;
}

.target{
  display: none;
}

.nav-header {
  display: inline;
  margin-left: 0.5em;
  font-size: 0.8em;
}

.textboxLayerPending {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: left;
  margin: 1em auto; 
  padding: 0.5em;
}

.footer {
  text-align: right;
  font-size: 0.7em;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.5em;
  position: fixed;
  bottom: 0;
  width: 100%
}
