.table {
  background-color: white;
  border-radius: 0px;
  width: 90%;
  margin: auto;
}

.table th {
  text-align: center;
}

.table td {
  text-align: center;
}

#rules {
  margin-left: 10%;
  margin-right: 10%;
  padding: 5%;
  background-color: white;
  opacity: 0.5;
}

#PendingDiv {
  background-color: white;
  padding: 5%;
  border-radius: 0px;
  width: 80%;
  margin: auto;
}

#PendingDiv p {
  text-align: center;
}

#PendingButton1 {
  text-align: center;
  width: 80%;
  margin-top: 10px;
  margin-right: 10%;
  margin-left: 10%;
}

#PendingButton2 {
  text-align: center;
  width: 80%;
  margin-top: 10px;
  margin-right: 10%;
  margin-left: 10%;
}

/* #wrapper {
  width: 500px;
  height: 300px;
  position: relative;
}
.float {
  background-color: black;
  height: 300px;
  margin: 0;
  padding: 0;
  color: white;
} */
/* #float-left {
  position: fixed;
}
#float-right {
  float: right;
  height: 30%;
  width: 40%;
  margin: 10px;
}
 */
/* .test {
  height: 180px;
  width: 300px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: aliceblue;
} */

#overview-container {
  width: 400px;
  height: 77px;
  margin-left: 1em;
  display: flex;
  justify-content: center;
}
.float {
  height: 200px;
}
.left {
  width: 130px;
  margin-left: 15%;
  margin-right: 0;
}
.right {
  width: 190px;
  background-color: white;
  height: 70px;
}

.img-overview {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}
.image-holder {
  width: 100px;
}

.card-text {
  padding: 5px;
  margin-left: 10px;
  font-family: "Montserrat", sans-serif;
}

.overviewFilter {
  background-color: white;
  border-radius: 0px;
  height: 30px;
}

.btn-overview {
  background-color: white;
  border-radius: 0px;
}

#text-overview {
  text-align: center;
}

#form-overview {
  margin-top: 10px;
  margin-right: 10%;
  margin-left: 15%;
  margin-bottom: 0px;
}
