<h2>Player</h2>

<div>
  <p>Your playground: {{tableData.address}}</p>
</div>

<div>
  <h3>Choose your opponent</h3>

  <p>I know who I want to play:</p>
  <form action="/confirm" method="POST">
  <input type="text" name="directOpponent" placeholder="Put in username of your opponent">
  <button type="submit">
  <a href="/confirm">Select opponent</a>
  </button>
  </form>

<br>
<p>OR</p>
<br>

  <p>Are you up for a new challenge?</p>
  <form action="/confirm" method="POST">
  <input type="text" name="randomOpponent" value={{randomName}}>
  <button type="submit">
  <a href="/confirm">Select opponent</a>
  </button>
  </form>

</div>