<h2 class="target">Choose a location</h2>

<div id="map"></div>

<div class="d-flex flex-column">

{{#each tableData}}
<button class="btn btn-table" id="buttontohover">
  <a class="table-link" href="/match/{{this._id}}">{{this.address}}</a>
</button>
{{/each}}

</div>

