<h2>Schedule a table</h2>
<br>
<div id="map"></div>
<br>

<h3>Choose location</h3>
<br>


<div class="d-flex flex-column">

{{#each tableData}}
<button class="btn btn-table" id="buttontohover">
  <a class="table-link" href="/match/{{this._id}}">{{this.address}}</a>
</button>
{{/each}}

</div>

