<h2>Schedule a table</h2>
<br>
<div id="map"></div>
<br>

<h3>Choose location</h3>
<br>


{{#each tableData}}
<button id="Atrium"><a href="/match/{{this._id}}">{{this.address}}</a></button>
{{/each}}


